header {
  width: 100%;
}

header nav {
  padding: 30px 0px;
  background-color: white;
  width: 100%;
}

header nav .bars {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid black;
}

header nav .bars:hover {
  border-color: #086cf9;
  color: #086cf9;
}

header nav .bars .fa {
  font-size: 16px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav ul li {
  position: relative;
}

header nav ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

header nav ul li a .fa {
  margin-left: 5px;
  font-size: 13px;
  display: block;
}

header nav ul li a:hover {
  color: #086cf9;
}

header nav ul li .dropdown {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  display: none;
  z-index: 11;
}

header nav ul li .dropdown li {
  border-bottom: 1px solid black;
  margin: 0px;
}

header nav ul li .dropdown li:last-child {
  border-bottom: none;
}

header nav ul li .dropdown li:hover {
  background-color: black;
}

header nav ul li .dropdown li a {
  padding-left: 5px;
  font-size: 14px;
  display: block;
  text-transform: capitalize;
  letter-spacing: 1px;
}

header .headerLogin {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.96);
  z-index: 11111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

header .headerLogin h3 {
  font-size: 35px;
  font-weight: 700;
  color: #01285f;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

header .headerLogin form {
  text-align: center;
}

header .headerLogin form input {
  width: 300px;
  margin: 20px 0px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #01285f;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

header .headerLogin form input:focus {
  outline: none;
}

header .headerLogin form input::-webkit-input-placeholder {
  color: white;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 2px;
}

header .headerLogin form input::-moz-placeholder {
  color: white;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 2px;
}

header .headerLogin form input:-ms-input-placeholder {
  color: white;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 2px;
}

header .headerLogin form input::-ms-input-placeholder {
  color: white;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 2px;
}

header .headerLogin form input::placeholder {
  color: white;
  text-transform: capitalize;
  font-size: 13px;
  letter-spacing: 2px;
}

header .headerLogin form .pass {
  position: relative;
}

header .headerLogin form .pass .fa {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #01285f;
  font-size: 14px;
}

header .headerLogin form button {
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  outline: 2px solid #01285f;
  border: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

header .headerLogin form button::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(1, 40, 95, 0.5);
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  z-index: -11;
}

header .headerLogin form button::before {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(1, 40, 95, 0.5);
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
  z-index: -11;
}

header .headerLogin form button:hover::after {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

header .headerLogin form button:hover::before {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

header .headerLogin .close {
  position: absolute;
  top: 10px;
  right: 30px;
  display: block;
  border: 2px solid #01285f;
  padding: 15px 20px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

header .headerLogin .close:hover {
  background-color: #01285f;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

header .headerTitle {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 290px;
  text-align: center;
  position: relative;
  background: transparent url("../img/pexels-ivan-samkov-5676744\ 1.png") no-repeat center center;
  background-size: cover;
}

header .headerTitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
  left: 0px;
}

header .headerTitle h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: white;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

header .headerTitle p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  position: relative;
  z-index: 1;
  margin-bottom: 55px;
}

header .headerTitle .bgBlue {
  position: relative;
  z-index: 1;
}

main {
  margin-top: 130px;
  width: 100%;
}

main h2 {
  font-size: 48px;
  line-height: 62px;
  font-weight: 700;
  margin-bottom: 25px;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #555;
}

main p:last-of-type {
  font-size: 20px;
  font-weight: 48px;
  font-weight: 400;
  color: #333;
  margin-top: 16px;
  margin-bottom: 32px;
}

main .videoPlayer {
  position: relative;
}

main .videoPlayer video {
  width: 100%;
}

main .videoPlayer .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .videoPlayer .fa-pause {
  display: none;
}

.work {
  width: 100%;
  margin-top: 130px;
  text-align: center;
}

.work .box {
  margin-top: 50px;
}

.work .box .img {
  margin-bottom: 27px;
}

.work .box .img svg:hover path {
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  fill: black;
}

.work .box h3 {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
  line-height: 31px;
  margin-bottom: 16px;
}

.work .box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #555;
}

.courses {
  width: 100%;
  margin-top: 130px;
  padding: 60px 0px;
  text-align: center;
  background-color: #ecf4ff;
}

.courses .bgBlue {
  margin-top: 48px;
}

.courses .box {
  margin-top: 50px;
  padding: 24px;
  background-color: #fff;
  border-radius: 6px;
}

.courses .box img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.courses .box .icons {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0.5px solid #e9e8e8;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.courses .box .icons .fa {
  width: 30px;
  height: 30px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.courses .box .icons .fa:hover {
  color: white;
  background-color: black;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.courses .box .icons span {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #555;
}

.courses .box h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 18px;
}

.courses .box h4 span {
  color: #086cf9;
}

.courses .box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #555;
  text-align: left;
}

.mentor {
  margin-top: 130px;
  width: 100%;
}

.mentor .box {
  margin-top: 50px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
}

.mentor .box h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: #222;
  margin-top: 16px;
  margin-bottom: 8px;
  padding-left: 32px;
}

.mentor .box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #555;
  padding-left: 32px;
}

.mentor .box .bottomIcons {
  padding-left: 32px;
  padding-bottom: 40px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mentor .box .bottomIcons .fa {
  font-size: 16px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  margin-right: 6px;
}

.mentor .box .bottomIcons .fa:hover {
  color: blue;
}

.mentor .box .bottomIcons span {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #555;
  margin-right: 16px;
}

.mentor .box .bottomIcons .right {
  margin-left: 100px;
  white-space: nowrap;
  text-align: right;
  display: block;
  margin-right: 32px !important;
}

.say {
  margin-top: 130px;
  width: 100%;
  margin-bottom: 100px;
}

.say .owl-carousel {
  margin-top: 40px;
}

.say .owl-carousel .box {
  padding: 30px 24px;
  background-color: white;
  border-radius: 6px;
  -webkit-box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
}

.say .owl-carousel .box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #555;
  margin-bottom: 30px;
}

.say .owl-carousel .box .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.say .owl-carousel .box .bottom h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #222;
}

.say .owl-carousel .box .bottom h4 span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #555;
}

.say .owl-carousel img {
  max-width: 100% !important;
  height: auto;
  width: 72px;
  height: 72px;
  margin-right: 16px;
}

.say .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.say .owl-carousel .owl-nav .owl-prev,
.say .owl-carousel .owl-nav .owl-next {
  font-size: 18px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #d5d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.say .owl-carousel .owl-nav .owl-prev:hover,
.say .owl-carousel .owl-nav .owl-next:hover {
  background-color: #086cf9;
  color: white;
}

.say .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -30px;
}

.say .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -30px;
}

footer {
  padding-top: 60px;
  padding-bottom: 80px;
  width: 100%;
  background: #d3e5fe;
}

footer h3.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #222222;
  margin-bottom: 24px;
}

footer h3.title .fa {
  display: none;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #555;
  margin-top: 24px;
  margin-bottom: 30px;
}

footer .icons {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .icons span {
  margin-right: 15px;
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

footer .icons span:hover {
  background: black;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

footer .icons span .md-block {
  width: 20px;
  height: 20px;
}

footer .icons span .fa {
  font-size: 14px;
  color: #086cf9;
}

footer ul li {
  margin-bottom: 16px;
}

footer ul li a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #444;
}

footer ul li a:hover .fa {
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

footer ul li a .fa {
  margin-right: 15px;
  color: #086cf9;
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .contact .title {
  margin-bottom: 24px;
}

footer .contact a {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #555;
  margin-bottom: 16px;
  display: inline-block;
}

footer .contact a .fa {
  margin-right: 8px;
}

footer .contact a:hover .fa {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #086cf9;
}

body {
  font-family: "Lato", "san-serif";
}

h2.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: black;
  text-align: center;
}

p.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #555;
  text-align: center;
}

.logo {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: black;
  letter-spacing: 2px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.logo:hover {
  color: #086cf9;
  text-shadow: 1px 0px 2px black;
}

.bgBlue {
  padding: 16px 30px;
  background-color: #086cf9;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  border: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 4px;
}

.bgBlue:hover {
  background-color: black;
}

.activeBars {
  display: none;
}

.activeMenuBars {
  display: block;
}

.errorMsg {
  color: #ff0000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 10px;
  display: none;
}

.activeCourses {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 991px) {
  header nav {
    padding: 20px 0px;
  }

  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }

  header nav ul li {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px 0px;
  }

  header nav ul li:last-child {
    border: none;
  }

  header nav ul li:last-child {
    margin-top: 5px;
  }

  header nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header nav ul li .dropdown {
    width: 100%;
    position: unset;
    border: none;
    list-style: disc !important;
    padding-left: 20px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  header nav ul li .dropdown li {
    list-style: disc !important;
  }

  header .headerLogin h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  header .headerTitle {
    padding: 80px 0px;
  }

  header .headerTitle h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
  }

  header .headerTitle p {
    margin-bottom: 30px;
  }

  main {
    margin-top: 80px;
  }

  main {
    text-align: center;
  }

  main h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
  }

  main p {
    text-align: center;
  }

  main .videoPlayer {
    margin-top: 50px;
  }

  .work {
    margin-top: 50px;
  }

  .work .box {
    margin-top: 30px;
  }

  .courses {
    margin-top: 50px;
    padding: 30px 0px;
  }

  .mentor {
    margin-top: 80px;
  }

  .mentor .box img {
    width: 100%;
  }

  .mentor .box h3 {
    padding-left: 10px;
  }

  .mentor .box p {
    padding-left: 10px;
  }

  .mentor .box .bottomIcons .right {
    margin-left: auto;
  }

  .mentor .box .bottomIcons {
    padding-left: 10px;
  }

  .say {
    margin-top: 80px;
  }

  .say {
    display: none;
  }

  footer {
    padding: 30px 0px;
    margin-top: 50px;
  }

  footer .footerEdu {
    text-align: center;
  }

  footer .footerEdu .title {
    border: none;
    background: unset;
    text-align: center !important;
    display: block;
  }

  footer .footerEdu .icons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  footer h3.title .fa {
    display: block;
  }

  footer h3.title {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 18px;
    margin-top: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 10px;
    background-color: #ffffff;
    color: #555;
    border: 2px solid #086cf9;
    border-radius: 6px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  footer p {
    font-size: 14px;
    margin: 20px 0px;
  }

  footer ul {
    display: none;
  }

  footer .contact {
    text-align: left;
    display: none;
  }

  h2.title {
    font-size: 30px;
    line-height: 30px;
  }

  .logo {
    font-size: 20px;
    line-height: 20px;
  }

  .bgBlue {
    text-align: center;
  }

  .activeBars {
    display: block;
  }

  .activeMenuBars {
    display: none;
  }

  .mt-md-50 {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  header nav {
    padding: 15px 0px;
  }

  header nav ul li a {
    font-size: 14px;
    line-height: 20px;
  }

  header .headerLogin h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .logo {
    font-size: 18px;
    line-height: 20px;
  }
}